

.header{
   
    color: #fff;
    background-color: black;
    padding: 10px 16px;
}

h1{
    font-size:50px;
}

a{
color:inherit;
text-decoration: none;

}


img{
    border: 2px solid black;
    margin: auto;
    position: relative;
    display: inline;

}



body{

    background-color:#ededed;
}


footer{
    color:white;
    background-color: black;
}

footer h3{
    padding-top:20px;
    margin:30px ;
}


footer li{  
display: inline;
margin: 30px;
}

footer p{
    text-align: center;
    padding-bottom: 20px;
}